* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}

.tim{
    font-size: 18px;
    border: 2px solid #AD235E;
    width: 100px;
    height: 100px; background-image: url(images/Iron_Pickaxe.png);
    }
